/*
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}